*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
.Top{
    display: flex;
    /* justify-content: space-between; */
    background-color:white;
    /* align-items: center; */
    padding: 10px 40px ;
    width: 100%;

}

ul{
    display: flex;
    list-style: none;
    /* justify-content: center;  */
    align-items: center;
    gap: 60px;
    
    
}
.logo{
    /* font-size: 3rem; */
    color: #0A66C2;
    font-weight: bold;
    padding: 20px 179px;
    font-size: xx-large;
}
span{
    background-color: #0A66C2;
    color: white;

}
.list{
    display: flex;
    flex-direction: column;
    font-size: small;
    text-align: center;
    opacity: .7;
    /* padding-right: 50px; */
    
}
.list:hover{
    opacity: 1;
}


.login{
    display: flex;
    margin-right: 100px;
     /* flex-direction:row;  */
    /* align-items: center; */
     /* justify-content: end;  */
     /* border-right: 1px solid black; */    
}


 button{
    border-radius: 45px;
    height: 45px;
    width: 100px;
    font-size: medium;
    

}
/* .btn2 button{
    border-radius: 25px;
    height: 40px;
    width: 100px; 
    padding:10px 10px ;
    border: none;
    font-size: medium;
} */
.btn2 button{
    border-color:blue;
    color: blue;
    background-color: white;
}
.btn1 button{
    border: none;
    background: none ;
}
button:hover{
    background-color: rgb(230, 238, 241);
}
.Body{ 
     display: flex; 
    width: 100%;
    /* justify-content: space-evenly;  */
     /* justify-content:flex-start;  */
    
    
 }
 .leftbody{
display: flex;
flex-direction: row;
margin-left: 205px;
justify-content: center;
width: 70%;

} 
.welcome{
    color: brown;
    font-size: 40px;
    font-family:  'Segoe UI',  'Helvetica Neue', 'Fira Sans',  'Oxygen Sans', Cantarell, 'Droid Sans', Helvetica, Arial, sans-serif;
    font-weight: 200;
}
  


/* .img{
    display: flex; */
    
    input{
        /* padding: 20px 100px; */
        height: 50px;
        width:365px;
        opacity: 1;
        border-width: 1px;
        /* border-width: 2px; */
        
    }  

button.btn3{
    background-color: blue;
    color: white;
    width: 365px;
    height: 38px;
    border: none;
    opacity: .8;

}

.btn3:hover{
    opacity: 5;
}
.forgot{
    color: blue;
    font-weight: 50px;
}
.forgot:hover{
    text-decoration: underline;
}

 hr{
    /* display: flex; */
    width: 115px;
    margin-top: 30px;

}
.or {
    margin-top: 20px;
}
.agreement{
    font-size: 14px;
}
.policy{
    display: flex;
    margin-top: 20px;
}
.google{
    display: flex;
    margin-top: 40px;
    /* align-content: center; */
    /* justify-content: center; */
    /* align-items: center; */


}

.btn4{
    width: 365px;
    height: 45px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    
    
}
.btn4:hover{
    cursor: pointer;
    background-color:silver;
    border: 1px solid color blue;
    /* background-color: grey; */
    
}
.new{
    display: flex;
    margin-top: 20px;
}
.btn5{
    width: 365px;
    height: 55px;
    background-color: white;
}
.btn5:hover{
    cursor: pointer;
    background-color: white;
    color:blue;
    
}
.rightbody{
    
    display: flex;
    justify-content: flex-end;  
    margin-right: 20px;
    /* margin-top: 10px; */
}
input:hover{
    opacity: 1;
    border-width: 2px 2px 2px 2px;
    /* border-width: 2px; */
}
.lines{
    border-left: 1px solid black;
    padding-left: 20px;
}
::placeholder{
    color:blue;
    text-align: end;
    margin-right: 10px;
    
    
}
.line{
    display: flex;
    align-items: center;
}

    











    

